*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
    background-image: linear-gradient(to bottom, white 0%, 50%,blue);
}

nav{
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.184);
   width: 80px;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: width 0.6s linear;
}

nav.active{
    width: 400px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.184);
    transform: width 0.6s linear;
}

nav.active ul{
    width :100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    width: 0;
    transition: width 0.6s linear;
}


nav ul li{
    
    transform: rotateX(0deg);
    opacity: 0;
    transition: transform 0.6s linear,opacity 0.25s linear;
}

nav.active ul li{
    transform: rotateX(360deg);
    opacity: 1;

}

nav ul a{
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

nav ul a:hover{
    position: relative;
    bottom: 5px;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.5);
}


.icon{
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    position: relative;
    height: 30px;
    width:30px
}

.icon:focus{
    outline:0;
}

.icon .line{
 background-color: rgba(0, 0, 0, 0.907);
 height: 2px;
 width: 20px;
 position: absolute;
 top:10px;
 left:5px;
 transition: transform 0.6s linear;
}

.icon .line2{
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1{
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2{
    transform: rotate(765deg) translateY(-5.5px);
}
